html, body {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}
body {
    background: #E6E6E6 none repeat scroll 0% 0% !important;
    
}
header {
    background-image: url(/img/bg.jpg);
    height: 300px;
}

header h1 {
    color: #012B35;
    font-family: 'Lobster', cursive;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    padding: 30px 0px 0px 30px;
}
header > p {
    color: #012B35;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    padding-left: 110px;
}

input {
    display: block;
}
.nav_wrapper {
    height: 2px;
}
nav {
    text-align:right;
    position: relative;
    top: -50px;
    right: 4px;
}
nav li {
    display: inline;
    padding: 7px 11px;;
    background-color: #EEA500;
    border-radius: 2px;
}
nav li:hover {
    color: #ffbf80;
}
nav a {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #d9d9d9;
}
.content {
    background-color: #F6F6F6;
}

main aside {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 30%;
    background-color: #f6f6f6;
    padding: 0px 8px;
    text-align: justify;
}
aside div > p {
font-size: 24px;
padding: 20px;
color: #333;
margin: 0px;
font-weight: normal;
font-family: Arial;
}
main section {
    display: inline-block;
    box-sizing: border-box;
    width: 69%;
    background-color: #f6f6f6;
    float: right;
}
article h3 {
font-family: Verdana,Geneva,sans-serif;
font-size: 13px;
line-height: 20px;
color: #000;
font-weight: bold;

}
aside p {
font-family: Verdana,Geneva,sans-serif;
font-size: 13px;
line-height: 20px;
color: #000;
}

.content h4 {
    font-size: 22px;
    padding: 20px;
    color: #333;
    margin: 0px;
    font-weight: normal;
    font-family: Arial;
    }
.table td {
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    
}
#radio_wrapper input {
    display: inline;
}
.submit_bt {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
footer {
    background-color: #CCDFE3;
    padding: 10px;
    margin-top: 10px;
}
